<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mariomg.tagalong">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--  FIXME: Backup was disabled to avoid problems with EncryptedSharedPreferences
            see: https://stackoverflow.com/questions/63597398/androidx-security-encryptedsharedpreferences-v1-1-0-w-api-21-issue -->
    <application
        android:name=".presentation.BaseApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TagAlong">

        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/app_deep_link_schema"
                    android:host="@string/app_deep_link_url" />
            </intent-filter>

        </activity>

    </application>

</manifest>